<br><br><br>
<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Dashboard</h3>
      <hr>
    </div>
    <ul class="list-unstyled components">
    
      <li> <a href="#" routerLink="../liste">Liste des utilisteurs</a> </li>
     
      <li> <a href="#" routerLink="/dash">Liste des Produits</a> </li>
     
    </ul>
   
  </nav>
  <div class="content">
   
      <div class="collapse navbar-collapse" id="navbarNav">
       
      </div>
   
    <div class="content-wrapper">
      
      <div class="line"></div>
    </div>
  </div>
</div>