<br><br><br><br><br>
<div class="livraison "><h2>Livraison</h2></div>
<br>
<p><b>PharmaShop</b> met à votre disposition plusieurs types de livraisons 
 pour mieux vous servir et vous rendre la vie fabuleusement belle.
 C’est dans ce sens que vous avez la livraison classique .</p>

<br>
<h1>Livraisons classiques</h1>

<br>
<p>Les livraisons classiques se font du Lundi au Samedi de 8h à 20h,
   24 heures après validation de votre commande pour les livraisons à Abidjan. 
   Dès que vous sélectionnez la commune dans laquelle vous souhaitez être livrés,.</p>

<h1>Livraison gratuite</h1>
<br>
<p>Dès que le montant de votre commande atteint 100 000 Fcfa, 
vous êtes automatiquement éligibles pour une livraison gratuite dans les plus brefs délais.
Votre commande vous sera alors effectivement livrer gratuitement à condition que votre adresse
de livraison soit située à Abidjan.</p>
<br>
<H1>Coût de livraison</H1>
<p>Les frais de livraisons sont à 1000fcfa partout à Abidjan.</p>
<app-infoshop></app-infoshop>
<app-footer></app-footer>