.icon {
  font-size: 40px;
}
.phar{ font-size: 19px;}

.form-control {
  border-radius: 3px;
  width: 600px;
  margin-left: 20px;
}
.f{ margin-right:30px;
height: 48px;
}
.search-icon {
  position: absolute;
  z-index: 10;
  right: 45%;
  top: 25px;
  color: blue;
}

.badge{
  font-size : 10;
}
.navbar {
 
 
  background-color:rgb(0 154 0);
  transition: background-color 0.5s ease-in-out;
  height: 90px;
  border: 1px solid gainsboro; /* Bordure de 1 pixel solide avec une couleur grise */

 
  
}
.ct{margin-right: 35px;}
.navbar.scrolled {
 
  border-bottom: 2px solid #007bff;
  background-image:linear-gradient(to bottom, #007bff,  rgb(17, 228, 17));
}
;
.cli{margin-right: 20px;}

.m{
border-radius: 5px;
margin-left: 30px;
}
  
  .para{
  width:90px;
  
  
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  /* Change the link color  #111 (black) on hover */
  li a:hover {
    background-color:rgb(22, 133, 245);
    border-radius: 5px;
  }
  .titre{font-weight: extra bold;
  font-style: calc();
  font-size: 50px;
 }
 .m{ width: 400px;

 }
 /* icone*/
 .fa-solid{font-size: 20px;}
 .fa{font-size: 20px;
 color:gray;
 margin: 5px;}
 .fa-envelopes{font-size: 20px;}
 .fa-brands{
 font-size: 25px;
 color:gray;
 }
 .fa-facebook{margin-right: 5px;
 }
 .fa-instagram{margin-right: 2px;}
 .sticky-bottom{ width: 100px;
 }
 #sty{
 position: sticky;
 
 }
 .phar{
 font-size:20px;
 color: white;
 }
 .las{font-size: 30px;}
.pra{
margin-left: 50px;
color: white;
}
.pr{margin-right: 5px;}

  #a{color: white;}
  #p{color: white;}
  #m{color: white;}