<footer class="bd-footer py-4 py-md-5 mt-5 ">
  <div class="container py-4 py-md-5 px-4 px-md-3">
    <div class="row">
      <div class="col-6 col-lg-2 offset-lg-2 mb-3">  
        <h5>CATEGORIE</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="" routerLink="/parfum">Beauté</a></li>
          <li class="mb-2"><a href=""routerLink="/cheveux">Cheveux</a></li>
          <li class="mb-2"><a href="" routerLink="/corps">Corps </a></li>
          <li class="mb-2"><a href="" routerLink="/bebe">Enfant&& Bébé</a></li>
          <li class="mb-2"><a href=""routerLink="/parfum">Parfum</a></li>
          <li class="mb-2"><a href="" routerLink="/homme">Homme</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>MON COMPTE</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="" routerLink="/register">Mon compte</a></li>
          <li class="mb-2"><a href="" routerLink="/cart">Mon panier</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>BESOIN D'AIDE</h5>
        <ul class="list-unstyled">
          <p>Contactez nous nous au :+225 07 59 89 80 60</p><br>
          <p>Et au pharmashop@gmail.com</p>
        </ul>
      </div>
    </div>
  </div>
</footer>